{% extends '@App/Default/layout.html.twig' %}

{% block title %}
{{ parent() }} - lot
{% endblock %}

{% block body %}

<div id="top" class="row">
    <div class="page-header">
        <h2>View lot <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p><strong>Id</strong></p>
        <p>
            {{ lot.id }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Nom</strong></p>
        <p>
            {{ lot.nom }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Valeur</strong></p>
        <p>
            {{ lot.valeur }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Nbgagnant</strong></p>
        <p>
            {{ lot.nbGagnant }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Nbrestant</strong></p>
        <p>
            {{ lot.nbRestant }}
        </p>

    </div></div>

<hr/>


<div class="form-group">
    <a class="btn btn-default" href="{{ path('lot') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-primary" href="{{ path('lot_edit', { 'id':  lot.id }) }}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Edit
    </a>
    <a class="btn btn-info" href="{{ path('lot_new') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New
    </a>
    <form action="{{ path('lot_delete', { 'id': lot.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>


{% endblock %}

