{% extends '@App/Default/layout.html.twig' %}

{% block title %}
{{ parent() }} - article
{% endblock %}

{% block body %}

<div id="top" class="row">
    <div class="page-header">
        <h2>View article <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p><strong>Jsonconfig</strong></p>
        <p>
            {{ article.jsonConfig }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Id</strong></p>
        <p>
            {{ article.id }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Libelle</strong></p>
        <p>
            {{ article.libelle }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Keyword</strong></p>
        <p>
            {{ article.keyword }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Description</strong></p>
        <p>
            {{ article.description }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Isactive</strong></p>
        <p>
            {% if article.isActive %}Yes{% else %}No{% endif %}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Datecreation</strong></p>
        <p>
            {% if article.dateCreation %}{{ article.dateCreation|date('Y-m-d') }}{% endif %}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Datedebut</strong></p>
        <p>
            {% if article.dateDebut %}{{ article.dateDebut|date('Y-m-d') }}{% endif %}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Datefin</strong></p>
        <p>
            {% if article.dateFin %}{{ article.dateFin|date('Y-m-d') }}{% endif %}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Price</strong></p>
        <p>
            {{ article.price }}
        </p>

    </div></div>

<hr/>


<div class="form-group">
    <a class="btn btn-default" href="{{ path('article') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-primary" href="{{ path('article_edit', { 'id':  article.id }) }}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Edit
    </a>
    <a class="btn btn-info" href="{{ path('article_new') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New
    </a>
    <form action="{{ path('article_delete', { 'id': article.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>


{% endblock %}

