<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CaSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}EXEL-IMMO {% endblock %}</title>

    <!-- Bootstrap core CSS -->


    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ asset('fonts/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/animate.min.css') }}" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/maps/jquery-jvectormap-2.0.1.css') }}"/>
    <link href="{{ asset('css/icheck/flat/green.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/floatexamples.css') }}" rel="stylesheet" type="text/css"/>

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/nprogress.js') }}"></script>


    <!--[if lt IE 9]>
    <script src="{{ asset('../assets/js/ie8-responsive-file-warning.js') }}"></script>
    <![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block css %}{% endblock %}

</head>


<body class="nav-md">

<div class="container body">


<div class="main_container">

<div class="col-md-3 left_col">
    <div class="left_col scroll-view">

        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-building"></i> <span>EXEL-IMMO!</span></a>
        </div>
        <div class="clearfix"></div>

        <!-- menu prile quick info -->
        <div class="profile">
            <div class="profile_pic">
                <img src="{{ asset('images/majdi.jpg') }}" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Bienvenue ,</span>

                <h2>Allagui Majdi</h2>
            </div>
        </div>
        <!-- /menu prile quick info -->

        <br/>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li><a href="index.html"><i class="fa fa-home"></i> Accueil </a>


                    <li><a><i class="fa fa-users"></i> Gestion des clients <span
                            class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="{{ path('client_create') }}">Inscrire un client</a>
                            </li>
                            <li><a href="{{ path('client') }}">Liste des clients</a>
                            </li><li><a href="{{ path('archive_client') }}">Clients en archive</a>
                            </li>


                        </ul>
                    </li>
                    <li><a><i class="fa fa-building"></i> Gestion des biens <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="ajouterBien.html"> ajouter un bien</a>
                            </li>
                            <li><a href="Liste_bien.html"> Liste des biens </a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-car"></i> Gestion des visites <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="ajoutervisite.html"> Ajouter une visite </a>
                            </li>
                            <li><a href="Liste_visite.html">Liste des visite</a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-gears"></i> Parametres <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="{{ path('region') }}"> Configuration des regions </a>
                            </li>

                        </ul>


                        <ul class="nav child_menu" style="display: none">
                            <li><a href="{{ path('typeimmo') }}"> Types des biens </a>
                            </li>

                        </ul>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="{{ path('equipement') }}"> Configuration des équipements </a>
                            </li>

                        </ul>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="{{ path('ville') }}"> Configuration des villes </a>
                            </li>

                        </ul>
                    </li>



                </ul>
            </div>


        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>

<!-- top navigation -->
<div class="top_nav">

    <div class="nav_menu">
        <nav class="" role="navigation">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                       aria-expanded="false">
                        <img src="{{ asset('images/img.jpg') }}" alt="">John Doe
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                        <li><a href="javascript:;"> Profile</a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span class="badge bg-red pull-right">50%</span>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">Help</a>
                        </li>
                        <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                        </li>
                    </ul>
                </li>



            </ul>
        </nav>
    </div>

</div>
<!-- /top navigation -->


<!-- page content -->
{% block main %}{%endblock  %}
<!-- footer content -->

<footer>
    <div class="">
        <p class="pull-right">Gentelella Alelaaaaa! a Bootstrap 3 template by <a>Kimlabs</a>. |
            <span class="lead"> <i class="fa fa-paw"></i> Gentelella Alela!</span>
        </p>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
<!-- /page content -->

</div>

</div>

<div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
</div>
{% block js %}







{% endblock %}

<script src="{{ asset('bundles/petkoparacrudgenerator/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/petkoparacrudgenerator/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/petkoparacrudgenerator/js/petkopara-crud-generator.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>


<!-- chart js -->
<script src="{{ asset('js/chartjs/chart.min.js') }}"></script>
<!-- bootstrap progress js -->
<script src="{{ asset('js/progressbar/bootstrap-progressbar.min.js') }}"></script>
<script src="{{ asset('js/nicescroll/jquery.nicescroll.min.js') }}"></script>
<!-- icheck -->
<script src="{{ asset('js/icheck/icheck.min.js') }}"></script>
<!-- daterangepicker -->
<script type="text/javascript" src="{{ asset('js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/datepicker/daterangepicker.js') }}"></script>

<script src="{{ asset('js/custom.js') }}"></script>

<!-- flot js -->
<!--[if lte IE 8]>
<script type="text/javascript" src="{{ asset('js/excanvas.min.js') }}"></script><![endif]-->
<script type="text/javascript" src="{{ asset('js/flot/jquery.flot.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/flot/jquery.flot.pie.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/flot/jquery.flot.orderBars.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/flot/jquery.flot.time.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/flot/date.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/flot/jquery.flot.spline.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/flot/jquery.flot.stack.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/flot/curvedLines.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/flot/jquery.flot.resize.js') }}"></script>


<!-- worldmap -->
<script type="text/javascript" src="{{ asset('js/maps/jquery-jvectormap-2.0.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/maps/gdp-data.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/maps/jquery-jvectormap-world-mill-en.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/maps/jquery-jvectormap-world-mill-en.js') }}"></script>

<!-- skycons -->
<script src="{{ asset('js/skycons/skycons.js') }}"></script>


<!-- dashbord linegraph -->

<!-- /dashbord linegraph -->
<!-- datepicker -->


<!-- /datepicker -->
<!-- /footer content -->
</body>

</html>
