{% extends '@App/Default/layout.html.twig' %}

{% block title %}
    {{ parent() }} - service index
{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2><a href="{{ path('service') }}">Service</a></h2>
            </div>
        </div>
    </div> <!-- /#top -->


    <div class="row">
        <div class="col-md-12">
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>


    <div class="row">

        <div class="table-responsive col-md-12">
            <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                <thead>
                <tr>

                    {% import "PetkoparaCrudGeneratorBundle::macros/th_sortable.html.twig" as macros %}
                    <th>Type</th>
                    <th>Libelle</th>
                    <th>Description</th>
                    <th>Active</th>
                    <th>Prix</th>
                    <th>Keyword</th>
                    <th>Short code</th>


                    <th width="130px">List</th>
                </tr>
                </thead>
                <tbody>
                {% for service in services %}
                    <tr>
                        <td>{{ service.type }}</td>
                        <td>{{ service.libelle }}</td>
                        <td>{{ service.description }}</td>
                        <td>{{ service.isActive }}</td>
                        <td>{{ service.keyword }}</td>
                        <td>{{ service.price }}</td>
                        <td>{{ service.shortcode }}</td>

                        <td class="actions">
                            {% if service.type=="Quiz" %}
                            <a title='Show' class="btn btn-info btn-sm"
                               href="{{ path('quiz_show', { 'id': service.id }) }}">
                                {% elseif service.type=="Article" %}
                                <a title='Show' class="btn btn-info btn-sm"
                                   href="{{ path('article_show', { 'id': service.id }) }}">
                                    {% else %}
                                    <a title='Show' class="btn btn-info btn-sm"
                                       href="{{ path('emmision_show', { 'id': service.id }) }}">
                                        {% endif %}
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>
                        </td>


                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div> <!-- /#list -->




    <div class="row">
        <div class="col-md-4 pull-left">
        </div>

        <div class='col-md-3 pagination text-center'>
            {#         <p>{{totalOfRecordsString}}</p>#}
        </div>

        <div class="col-md-5 text-right">
            {#         {{ pagerHtml|raw }} #}
        </div>
    </div> <!-- /#bottom -->



{% endblock %}

